html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-size: 2rem;
    background-color: burlywood;
  }

  header p {
    font-size: 2.8rem;
    text-align: center;
    font-weight: 600;
  }

  nav ul {
    display: none;
  }

  .aside-one {
    text-align: center;
  }

  ul {
    list-style: none;
  }

  .aside-two h2 {
    text-align: center;
  }

 .main-content {
   margin: 30px;
 }

 .main-content p {
   text-align: justify;
 }

 .main-content h1 {
   font-size: 2.4rem;
   margin-top: 60px;
 }

 footer {
   text-align: center;
 }

 @media screen and (min-width:800px) {
   nav ul {
     display: inline-block;
   }

   body {
     background-color: rgb(168, 188, 226);
   }

   header {
     display: flex;
     justify-content: space-between;
     margin: 30px;
     font-size: 2.5rem;
   }

   header p {
     font-size: 3.5rem;
   }

   .container-aside {
     display: flex;
     justify-content: space-between;
   }

   .aside-one ul li {
     text-align: start;
   }

   .main-content h1 {
     font-size: 3rem;
   }

   .main-content p {
     font-size: 2.5rem;
   }

   footer {
     font-size: 2.5rem;
   }

 }