body {
  font-size: 2rem;
  margin: 30px;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}

img {
    max-width: 100%;
}

figure {
    margin-bottom: 30px;
}

@media screen and (min-width:800px){
    body {
      background-color: rgb(165, 129, 199);  
      font-size: 1.8rem;
      margin: 50px;
    }

    img {
        width: 250px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

}