* {
    padding: 10;
    margin:10;
}

h1 {
    background-color: #0b5e0f;
    color: white;
    height: 60px;
    text-align: center;
    margin: 0px 10px 0px 10px;
    line-height: 60px;
}

.menu li {
    background-color:#0b5e0f;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 0;
 
}

.menu li a {
    text-decoration: none;
    color: white;
    margin: 0px 10px 0px 10px;
}

.imagem1 {
    float: left;
}

.imagem2 {
    float: right;
}